{% extends 'base.html' %}
{%block title%}Game Management{%endblock%}

{%block body%}
{% for msg in get_flashed_messages() %}
<dialog open onclick="this.close()">
    {{msg}}
</dialog>
{% endfor %}
<section class="container-fluid">
    <h3 class="grid"> Add entity to game: </h3>
    <div class="container-fluid grid">
        <a class="grid" href="/games/{{gameId}}/add/creature">
            <button> Monster
            </button></a>

        <a class="grid" href="/games/{{gameId}}/add/pc">
            <button>
                Player Character</button></a>

        <a class="grid" href="/games/{{gameId}}/add/npc">
            <button>
                Nonplayer Character</button></a>

    </div>
</section>
{%endblock%}