{% extends 'base.html' %}
{%block title%}Add NPC{%endblock%}

{%block body%}

<style>
    input.pico-override,
    select.pico-override {
        margin-bottom: 0;
        height: auto;

    }

    label {
        margin: 0;
    }

    .char-sheet {
        display: grid;
        grid-template-columns: 1.3fr 0.7fr 0.7fr;
        grid-template-rows: 0.1fr 0.9fr 2.4fr;
        gap: 0px 0px;
        border: 6px ridge rgb(88, 88, 88);
        ;
    }

    .grouping {
        border: 6px double rgb(88, 88, 88);
        ;

    }

    select[multiple] {
        margin: 0em
    }

    .header-forms {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-area: 1 / 1 / 2 / 4;
    }

    .h-left {
        grid-area: 1 / 1 / 2 / 3;
    }

    .h-up {
        grid-area: 2 / 1 / 3 / 2;
    }

    .h-right {
        grid-area: 2 / 2 / 3 / 3;
    }

    .ability-forms {
        display: grid;
        grid-template-columns: 0.8fr 1.3fr;
        grid-template-rows: 0.1fr 0.1fr .1fr;
        gap: 0px 0px;
        grid-area: 2 / 1 / 3 / 2;
        word-wrap: break-word;
    }

    .a-left {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-area: 1 / 1 / 4 / 2;
    }

    .a-block {
        display: block;
        align-items: center;
        text-align: center;
        overflow: auto;
        min-width: 100%;
    }

    div {
        padding: 5px;
    }

    h3 {
        word-wrap: normal;
        font-size: 1.2em;
    }

    .skill-input {
        height: 10em;
    }

    .str {
        grid-area: 1 / 1 / 2 / 2;
    }

    .dex {
        grid-area: 2 / 1 / 3 / 2;
    }

    .con {
        grid-area: 3 / 1 / 4 / 2;
    }

    .int {
        grid-area: 4 / 1 / 5 / 2;
    }

    .wis {
        grid-area: 5 / 1 / 6 / 2;
    }

    .cha {
        grid-area: 6 / 1 / 7 / 2;
    }

    .a-up {

        grid-template-columns: 1fr;
        grid-template-rows: .1fr 1.9fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-area: 1 / 2 / 2 / 3;
    }


    .proficiency {
        grid-area: 2 / 1 / 3 / 2;
    }

    .saves {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-area: 2 / 2 / 3 / 3;
    }

    .str-save {
        grid-area: 1 / 1 / 2 / 2;
    }

    .dex-save {
        grid-area: 2 / 1 / 3 / 2;
    }

    .con-save {
        grid-area: 3 / 1 / 4 / 2;
    }

    .int-save {
        grid-area: 4 / 1 / 5 / 2;
    }

    .wis-save {
        grid-area: 5 / 1 / 6 / 2;
    }

    .cha-save {
        grid-area: 6 / 1 / 7 / 2;
    }

    .skills {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-area: 3 / 2 / 4 / 3;
    }

    .acrobatics {
        grid-area: 1 / 1 / 2 / 2;
    }

    .animal_handling {
        grid-area: 2 / 1 / 3 / 2;
    }

    .arcana {
        grid-area: 3 / 1 / 4 / 2;
    }

    .athletics {
        grid-area: 4 / 1 / 5 / 2;
    }

    .deception {
        grid-area: 5 / 1 / 6 / 2;
    }

    .history {
        grid-area: 6 / 1 / 7 / 2;
    }

    .insight {
        grid-area: 7 / 1 / 8 / 2;
    }

    .intimidation {
        grid-area: 8 / 1 / 9 / 2;
    }

    .investigation {
        grid-area: 9 / 1 / 10 / 2;
    }

    .medicine {
        grid-area: 10 / 1 / 11 / 2;
    }

    .nature {
        grid-area: 11 / 1 / 12 / 2;
    }

    .perception {
        grid-area: 12 / 1 / 13 / 2;
    }

    .performance {
        grid-area: 13 / 1 / 14 / 2;
    }

    .persuasion {
        grid-area: 14 / 1 / 15 / 2;
    }

    .religion {
        grid-area: 15 / 1 / 16 / 2;
    }

    .sleight_of_hand {
        grid-area: 16 / 1 / 17 / 2;
    }

    .stealth {
        grid-area: 17 / 1 / 18 / 2;
    }

    .survival {
        grid-area: 18 / 1 / 19 / 2;
    }

    .mid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.6fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-area: 2 / 2 / 3 / 3;
    }

    .mid-forms {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.1fr 0.9fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-area: 1 / 1 / 2 / 2;
    }

    .ac {
        grid-area: 1 / 1 / 2 / 2;
    }

    .speed {
        grid-area: 1 / 2 / 2 / 3;
    }

    .hit_point_maximum {
        grid-area: 2 / 1 / 3 / 3;
    }

    .hit_dice {
        grid-area: 3 / 1 / 4 / 3;
    }

    .actions {
        grid-area: 2 / 1 / 3 / 2;
    }

    .right {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr .5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-area: 2 / 3 / 3 / 4;
    }

    .dmg {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-area: 1 / 1 / 2 / 2;

    }

    .dmg_vuln {
        grid-area: 1 / 1 / 2 / 2;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .dmg_resist {
        grid-area: 2 / 1 / 3 / 2;
    }

    .dmg_immune {
        grid-area: 3 / 1 / 4 / 2;
    }

    .condition_immune {
        grid-area: 4 / 1 / 5 / 2;
    }

    .special {
        grid-area: 2 / 1 / 3 / 2;
    }

    .save-div {
        max-height: 5em;
        word-wrap: normal;
    }

    .skill-div {
        max-height: 5em;
        word-wrap: normal;
    }

    select[multiple] option:checked {
        background-color: rgb(184, 184, 184);
    }
</style>
<!-- Todo: Work on the styling of this.  -->
<section class="container">
    <form id="character-form" method="POST">
        {% for field in form
        if field.widget.input_type != 'hidden' %}
        {{ form.hidden_tag() }}
        {% for error in field.errors %}
        {{ error }}
        {% endfor %} {% endfor %}
        <div class="char-sheet">
            <div class="header-forms grouping">
                <div class="h-left">{{form.header_forms.character_name(class_="pico-override")}}</div>
                <div class="h-up grid">
                    {{form.header_forms.character_class(placeholder="class",class_="pico-override")}}
                    {{form.header_forms.level(class_="pico-override")}}
                    {{form.header_forms.player_name(class_="pico-override")}}</div>
                <div class="h-right grid">{{form.header_forms.creature_type(class_="pico-override")}}
                    {{form.header_forms.alignment(class_="pico-override")}}
                    {{form.header_forms.size(class_="pico-override")}}</div>
            </div>
            <div class="ability-forms">
                <div class="a-left ">
                    <div class="str grouping a-block">
                        <h3>Strength</h3>{{form.ability_forms.strength(class_='skill-input pico-override')}}<h4
                            class="a-bonus" id="str-bonus"></h4>
                    </div>
                    <div class="dex grouping a-block">
                        <h3>Dexterity</h3>{{form.ability_forms.dexterity(class_='skill-input pico-override')}}<h4
                            class="a-bonus" id="dex-bonus"></h4>
                    </div>
                    <div class="con grouping a-block">
                        <h3>Constitution</h3>{{form.ability_forms.constitution(class_='skill-input pico-override')}}<h4
                            class="a-bonus" id="con-bonus"></h4>
                    </div>
                    <div class="int grouping a-block">
                        <h3>Intelligence</h3>{{form.ability_forms.intelligence(class_='skill-input pico-override')}}<h4
                            class="a-bonus" id="int-bonus"></h4>
                    </div>
                    <div class="wis grouping a-block">
                        <h3>Wisdom</h3>{{form.ability_forms.wisdom(class_='skill-input pico-override')}}<h4
                            class="a-bonus" id="wis-bonus"></h4>
                    </div>
                    <div class="cha grouping a-block">
                        <h3>Charisma</h3> {{form.ability_forms.charisma(class_='skill-input pico-override')}}<h4
                            class="a-bonus" id="cha-bonus"></h4>
                    </div>
                </div>
                <div class="a-up grouping">

                    <div class="proficiency">
                        <h4>Proficiency Bonus</h4>{{form.proficiency_bonus(class_="pico-override")}}
                    </div>
                </div>
                <div class="saves grouping">
                    <div class="str-save save-div grid">{{form.saving_throws.strength()}}
                        <div class="conainer-fluid" style="padding:0">{{form.saving_throws.strength.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="dex-save save-div grid">{{form.saving_throws.dexterity()}}
                        <div class="conainer-fluid" style="padding:0">{{form.saving_throws.dexterity.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="con-save save-div grid">{{form.saving_throws.constitution()}}
                        <div class="conainer-fluid" style="padding:0">{{form.saving_throws.constitution.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="int-save save-div grid">{{form.saving_throws.intelligence()}}
                        <div class="conainer-fluid" style="padding:0">{{form.saving_throws.intelligence.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="wis-save save-div grid">{{form.saving_throws.wisdom()}}
                        <div class="conainer-fluid" style="padding:0">{{form.saving_throws.wisdom.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="cha-save save-div grid"> {{form.saving_throws.charisma()}}
                        <div class="conainer-fluid" style="padding:0">{{form.saving_throws.charisma.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                </div>
                <div class="skills grouping">
                    <div class="acrobatics skill-div grid">{{form.skill_forms.acrobatics()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.acrobatics.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="animal_handling skill-div grid">
                        {{form.skill_forms.animal_handling()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.animal_handling.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="arcana skill-div grid">{{form.skill_forms.arcana()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.arcana.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="athletics skill-div grid">{{form.skill_forms.athletics()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.athletics.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="deception skill-div grid">{{form.skill_forms.deception()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.deception.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="history skill-div grid">{{form.skill_forms.history()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.history.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="insight skill-div grid">{{form.skill_forms.insight()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.insight.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="intimidation skill-div grid">{{form.skill_forms.intimidation()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.intimidation.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="investigation skill-div grid">{{form.skill_forms.investigation()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.investigation.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="medicine skill-div grid">{{form.skill_forms.medicine()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.medicine.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="nature skill-div grid">{{form.skill_forms.nature()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.nature.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="perception skill-div grid">{{form.skill_forms.perception()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.perception.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="performance skill-div grid">{{form.skill_forms.performance()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.performance.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="persuasion skill-div grid">{{form.skill_forms.persuasion()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.persuasion.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="religion skill-div grid">{{form.skill_forms.religion()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.religion.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="sleight_of_hand skill-div grid">
                        {{form.skill_forms.sleight_of_hand()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.sleight_of_hand.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="stealth skill-div grid"> {{form.skill_forms.stealth()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.stealth.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                    <div class="survival skill-div grid">{{form.skill_forms.survival()}}
                        <div class="conainer-fluid" style="padding:0">{{form.skill_forms.survival.label}} <input
                                onclick="toggleProficiency(event)" style="margin:auto" type="checkbox"></div>
                    </div>
                </div>
            </div>
            <div class="mid">
                <div class="mid-forms">
                    <div class="ac grouping">{{form.mid_forms.armor_class(class_="pico-override")}}
                        {{form.mid_forms.armor_class.label}}</div>
                    <div class="speed grouping">
                        {{form.mid_forms.speed(class_="pico-override")}}{{form.mid_forms.speed.label}}</div>
                    <div class="hit_point_maximum grouping">
                        {{form.mid_forms.hit_point_maximum(class_="pico-override")}}{{form.mid_forms.hit_point_maximum.label}}
                    </div>
                    <div class="hit_dice">
                        <h5>Hit Dice</h5>
                        <div class="grid">
                            {{form.mid_forms.hit_dice_count(class_="pico-override")}}<h4>d</h4>
                            {{form.mid_forms.hit_dice_type(class_="pico-override")}}
                        </div>
                    </div>
                </div>
                <div class="actions"></div>
            </div>
            <div class="right">
                <div class="dmg">
                    <div class="dmg_vuln grouping">
                        {{form.damage_forms.damage_vulnerabilities.label}}{{form.damage_forms.damage_vulnerabilities(class_="pico-override",size='10')}}
                    </div>
                    <div class="dmg_resist grouping">
                        {{form.damage_forms.damage_resistances.label}}{{form.damage_forms.damage_resistances(class_="pico-override",size='10')}}
                    </div>
                    <div class="dmg_immune grouping">
                        {{form.damage_forms.damage_immunities.label}}{{form.damage_forms.damage_immunities(class_="pico-override",size='10')}}
                    </div>
                    <div class="condition_immune grouping">
                        {{form.damage_forms.condition_immunities.label}}{{form.damage_forms.condition_immunities(class_="pico-override",size='10')}}
                    </div>
                </div>
                <div class="special"><input type=submit value="Add Character To Game"></div>
            </div>
        </div>




    </form>


</section>


<script>
    function update_ability_modifier(e) {
        let n = Math.floor((e.target.value - 10) / 2);
        let sign = "";
        if (n >= 0) {
            sign = "+";
        }

        e.target.nextElementSibling.innerText = sign + n;
        var skill_tag = e.target.getAttribute('data-skill')
        console.log(`input.${skill_tag}`,)
        var skills = document.querySelectorAll(`input.${skill_tag}`)
        console.log(skills)
        skills.forEach((element) => {
            console.log(element)
            if (!element.nextElementSibling.lastElementChild.checked) { element.value = n } else { element.value = n + parseInt(document.querySelector("#proficiency_bonus").value) }
        })

    }

    function toggleProficiency(e) {
        if (e.target.checked) {
            console.log(e.target.parentNode.previousElementSibling.value, document.querySelector('#proficiency_bonus').value)
            e.target.parentNode.previousElementSibling.value = parseInt(e.target.parentNode.previousElementSibling.value) + parseInt(document.querySelector('#proficiency_bonus').value);

        } else {
            e.target.parentNode.previousElementSibling.value = Math.floor((document.querySelector(`input[data-skill="${e.target.parentNode.previousElementSibling.classList[1]}"]`).value - 10) / 2);

        }

    }

    function update_skills(e) {
        let skills = document.querySelectorAll('input[type=checkbox]')
        skills.forEach((skill) => {
            if (skill.checked) {
                console.log(skill.parentNode.previousElementSibling.value, document.querySelector('#proficiency_bonus').value)
                skill.parentNode.previousElementSibling.value = Math.floor((document.querySelector(`input[data-skill="${skill.parentNode.previousElementSibling.classList[1]}"]`).value - 10) / 2) + parseInt(document.querySelector('#proficiency_bonus').value);

            }
        })
    }


    //From stack exchange: https://stackoverflow.com/questions/8641729/how-to-avoid-the-need-for-ctrl-click-in-a-multi-select-box-using-javascript
    window.onmousedown = function (e) {
        var el = e.target;
        if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {
            e.preventDefault();

            // toggle selection
            if (el.hasAttribute('selected')) el.removeAttribute('selected');
            else el.setAttribute('selected', '');

            // hack to correct buggy behavior
            var select = el.parentNode.cloneNode(true);
            el.parentNode.parentNode.replaceChild(select, el.parentNode);

        }
    }

</script>
{%endblock%}