<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.3/css/pico.red.min.css" />
    <title>{%block title%}{%endblock%}</title>
</head>


<body>

    <header class="container-fluid">


        <nav>
            <ul>
                <li><strong>5e Utils</strong></li>
            </ul>
            <ul>
                <li><a href="/games">My Games</a></li>
                <li><a href="/games/new-game">New Game</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>




    {%block body%}{%endblock%}

</body>

</html>