{%extends 'base.html' %}

{%block title%}Setup Combat{%endblock%}



{%block body%}

<style>
    .setup-article {
        max-height: 30em;
        overflow: auto;
    }

    .initiative {
        max-height: 60em;
        overflow: auto;
    }
</style>
<section>
    <h2>{{combat.name}}: Setup</h2>
    <div class="grid">
        <div class="container-fluid">
            <article class="setup-article">

                <table>
                    <thead>

                        <tr>
                            <td>
                                <h3>Monsters</h3>
                            </td>
                            <td>CR</td>
                        </tr>
                    </thead>
                    <tbody class="setup-table">

                        {%for each in monsters%}
                        <tr data-name="{{each.name}}" data-id="{{each.id}}" onclick="monster_click(event)">
                            <td>{{each.name}}</td>
                            <td>{{each.challenge_rating}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </article>
            <article class="setup-article">

                <table>
                    <thead>

                        <tr>
                            <td>
                                <h3>Player Characters</h3>
                            </td>
                        </tr>
                    </thead>
                    {%for each in pcs%}
                    <tr data-name="{{each.name}}" data-id="{{each.id}}" onclick="pc_click(event)">
                        <td>{{each.name}}</td>
                    </tr>
                    {%endfor%}
                </table>
            </article>
            <article class="setup-article">

                <table>
                    <thead>

                        <tr>
                            <td>
                                <h3>Nonplayer Characters</h3>
                            </td>
                        </tr>
                    </thead>
                    {%for each in npcs%}
                    <tr data-name="{{each.name}}" data-id="{{each.id}}" onclick="npc_click(event)">
                        <td>{{each.name}}</td>
                    </tr>
                    {%endfor%}
                </table>
            </article>
        </div>
        <div class="container-fluid">
            <article class="initiative">
                <table id="initiative-table">
                    <thead>
                        <tr>
                            <td>Initiative</td>
                            <td>Creature</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="init-body"></tbody>
                </table>
            </article>
            <div>
                <form name="submit-form" method='get' class='container-fluid'
                    action="/games/{{game.id}}/combat/{{combat.id}}/play">
                    <input type="hidden" name="combatId" value="{{combat.id}}">
                    <input type="submit">Complete Setup</button>
                </form>

            </div>
        </div>
    </div>
</section>

<script src="/static/combat-setup.js"></script>

{%endblock%}