<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gameboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <table>
        <tbody>
            {%set ns = namespace(rownum = 0,colnum = 0) %}

            {% for row in board %}

            <tr>
                {% set ns.colnum = 0%}
                {% for card in row %}
                <td>
                    <button name="{{ns.rownum}}-{{ns.colnum}}">
                        {% set ns.colnum = ns.colnum + 1 %}
                        <img src="https://deckofcardsapi.com/static/img/{{card}}.png" class="clear">
                </td>
                </button>

                {% endfor %}
                {% set ns.rownum = ns.rownum + 1 %}
            </tr>
            {% endfor %}
    </table>
    </tbody>
</body>


<script>

</script>

</html>