{%extends 'base.html' %}
{%block title %} Sequence! {%endblock%}

{%block body %}
<table>
    <tbody>
        {%set ns = namespace(rownum = 0,colnum = 0) %}

        {% for row in board %}

        <tr>
            {% set ns.colnum = 0%}
            {% for card in row %}
            <td>
                <button name="{{ns.rownum}}-{{ns.colnum}}" class="card_button">
                    {% set ns.colnum = ns.colnum + 1 %}
                    <img src="https://deckofcardsapi.com/static/img/{{card[0]}}.png" class="{{card[1]}}">
            </td>
            </button>

            {% endfor %}
            {% set ns.rownum = ns.rownum + 1 %}
        </tr>
        {% endfor %}
</table>
</tbody>
{%endblock%}

<!-- TODO: See if I still need this script. If not, delete it in file structure: <script src="{{url_for('static', filename='scripts/gameboard.js')}}"></script> -->