{% extends 'base.html' %}
{%block title%}Add Monster{%endblock%}
{%block body%}
<style>
    .stat-grid {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 0%;
        grid-row-gap: 0%;
        justify-items: start;
        align-items: start
    }

    hr.stats {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0));
        height: 2px;
        border: 1;

    }

    kbd {
        font-size: 10px;
        padding: 2px;
        text-transform: uppercase;
    }





    section.stats {
        animation: .25s ease-out 0s 1 SlideIn;
    }

    @keyframes SlideIn {
        0% {
            opacity: 0;


        }

        100% {
            opacity: 1;


        }
    }
</style>

<section class="container-fluid">
    <h1>Add Monsters: {{game.name}}</h1>
    <p>Use this page to search for monsters you want to add to you game. Click on the monster name to see its stat
        block, and then click the button to add it to your game. </p>
    {% for msg in get_flashed_messages() %}
    <dialog open onclick="this.close()">
        {{msg}}
    </dialog>
    {% endfor %}
    <!-- Monster Details -->
    <a role="button" class="secondary" href="/games/{{game.id}}/add">Back to game options</a>
    <hr>
    {%if m != 'none'%}
    <section class='stats' style="font-family: Georgia, serif">


        <div class="grid">
            <h1 style="font-family: Georgia, serif">{{m['name']}}</h1>
            <form method="post" action="/games/{{game.id}}/add/creature?slug={{m['slug']}}" id='slug'>

                <input type="submit" value="Add to game!">
            </form>
        </div>
        <p><em>{{m['type']}}, {{m['alignment']}}</em></p>

        <hr class="stats">
        <p>
            <b>
                Armor Class
            </b>
            {{m['armor_class']}}
        </p>
        <p>
            <b>
                Hit Points
            </b>
            {{m['hit_points']}} ({{m['hit_dice']}})
        </p>
        <p>
            <b>
                Speed
            </b>
            {%for s in m['speed']%}
            <span>
                {%if m['speed'][s] != true%}
                {{s}} {{m['speed'][s]}}ft.
                {%else%}
                {{s}},
                {%endif%}
            </span>
            {%endfor%}
        </p>
        <hr class="stats">
        <table style="width:50%">
            <tbody>
                <tr>
                    <td>STR</td>
                    <td>DEX</td>
                    <td>CON</td>
                    <td>INT</td>
                    <td>WIS</td>
                    <td>CHA</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>{{m['strength']}}</td>
                    <td>{{m['dexterity']}}</td>
                    <td>{{m['constitution']}}</td>
                    <td>{{m['intelligence']}}</td>
                    <td>{{m['wisdom']}}</td>
                    <td>{{m['charisma']}}</td>
                </tr>
            </tfoot>
        </table>


        <hr class="stats">
        <p>
            <b>Saving Throws</b>
            {%for save in mods['saves']%}
            {{save}} {{mods['saves'][save]}}
            {%endfor%}
        </p>
        <p>
            <b>Skills</b>

            {%for skill in mods['skills']%}
            {{skill}} {{mods['skills'][skill]}}
            {%endfor%}
        </p>
        {%if m['damage_vulnerabilities'] != ""%}<p></p><b>Damage Vulnerabilities</b> {{m['damage_vulnerabilities']}}</p>
        {%endif%}
        {%if m['damage_resistances'] != ""%}<p></p><b>Damage Resistances</b> {{m['damage_resistances']}}</p>
        {%endif%}
        {%if m['damage_immunities'] != ""%}<p></p><b>Damage Immunities</b> {{m['damage_immunities']}}</p>
        {%endif%}
        {%if m['condition_immunities'] != ""%}<p></p><b>Condition Immunities</b> {{m['condition_immunities']}}</p>
        {%endif%}
        {%if m['senses'] != ""%}<p></p><b>Senses</b> {{m['senses']}}</p>
        {%endif%}
        {%if m['languages'] != ""%}<p></p><b>Languages</b> {{m['languages']}}</p>
        {%endif%}
        <p><b>Challenge</b> {{m['challenge_rating']}}</p>
        <hr class="stats">
        {% if m['special_abilities']%}
        {%for s in m['special_abilities']%}
        <p><b>{{s['name']}}</b> {{s['desc']}}</p>
        {%endfor%}
        {%endif%}

        {% if m['actions']%}
        <h2>Actions</h2>
        <hr class="stats hr-bold">
        {%for s in m['actions']%}
        <p><b>{{s['name']}}</b> {{s['desc']}}</p>
        {%endfor%}
        {%endif%}

        {% if m['reactions']%}
        <h2>Actions</h2>
        <hr class=" stats hr-bold">
        {%for s in m['reactions']%}
        <p><b>{{s['name']}}</b> {{s['desc']}}</p>
        {%endfor%}
        {%endif%}

        {% if m['bonus_actions']%}
        <h2>Actions</h2>
        <hr class="stats hr-bold">
        {%for s in m['bonus_actions']%}
        <p><b>{{s['name']}}</b> {{s['desc']}}</p>
        {%endfor%}
        {%endif%}

        {% if m['legendary_actions']%}
        <h2>Actions</h2>
        <hr class=" stats hr-bold">
        {%for s in m['legendary_actions']%}
        <p><b>{{s['name']}}</b> {{s['desc']}}</p>
        {%endfor%}
        {%endif%}
    </section>
    {%endif%}
    <hr>

    <!-- Monster Search -->

    <form method="get" action="/games/{{game.id}}/add/creature" id='monster-search' class="grid">
        <input class='search' type="search" id="search" name="search" placeholder="Search Monsters" />
        <input type="submit" value="Search">
    </form>
    <!-- Monster Search Results-->

    <section class="container-fluid">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Type</td>
                    <td>CR</td>
                    <td>Size</td>
                    <td>Hit Points</td>
                </tr>
            </thead>
            <tbody>
                {%for i in s_json %}<tr>

                    <td><a href="/games/{{game.id}}/add/creature?slug={{i['slug']}}">
                            {{i['name']}}
                        </a><kbd>{{i['document__slug']}}</kbd></td>
                    <td>{{i['type']}}</td>
                    <td>{{i['challenge_rating']}}</td>
                    <td>{{i['size']}}</td>
                    <td>{{i['hit_points']}}</td>

                </tr>


                {%endfor%}
            </tbody>

        </table>
    </section>
</section>
{%endblock%}