.green {
	filter: sepia(100%) saturate(300%) brightness(100%) hue-rotate(90deg);
	border-width: 3px;
}

.login_page_td {
}

.login_page_form input {
}

.login_page_form {
	color: #000000;
}

.red {
	filter: sepia(100%) saturate(800%) brightness(100%) hue-rotate(300deg);
}

.blue {
	filter: sepia(100%) saturate(800%) brightness(100%) hue-rotate(180deg);
}

.clear {
	filter: sepia(0%) saturate(100%) brightness(100%)hue-rotate(0deg);
}

table {
	border-collapse: collapse;
}

body {
	background-color: rgb(255, 255, 255);
	color: white;
	margin: 0;
}

.nav-link {
	font-size: 27px;
	margin-right: 30px;
	text-decoration: none;
	color: #000000;
}


.nav-right {
	text-align: right;
	margin-top: -8px;
	padding-right: 18px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.520);
	font-weight: normal;
	margin-top: 0;
	/*+box-shadow: 0 0 105px rgba(0, 0, 0, 0.743);*/
	-moz-box-shadow: 0 0 105px rgba(0, 0, 0, 0.743);
	-webkit-box-shadow: 0 0 105px rgba(0, 0, 0, 0.743);
	box-shadow: 0 0 105px rgba(0, 0, 0, 0.743);
}
