.green {
    filter: sepia(100%) saturate(300%) brightness(100%) hue-rotate(90deg);
    border-width: 3px;
    

}
.red {
    filter: sepia(100%) saturate(800%) brightness(100%) hue-rotate(300deg);
}
.blue {
    filter:  sepia(100%) saturate(800%) brightness(100%) hue-rotate(180deg);
}
.clear {
    filter:  sepia(0%) saturate(100%) brightness(100%)hue-rotate(0deg)
}

table {
    border-collapse: collapse;

}

body {
    background-color: black;
}